# One Hot Encoding

In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [11]:
df = pd.read_csv("homeprices.csv")

In [12]:
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [13]:
dummy = pd.get_dummies(df['town'])

In [14]:
df = pd.concat([df,dummy],axis='columns')

In [15]:
df.head()

              town  area   price  monroe township  robinsville  west windsor
0  monroe township  2600  550000                1            0             0
1  monroe township  3000  565000                1            0             0
2  monroe township  3200  610000                1            0             0
3  monroe township  3600  680000                1            0             0
4  monroe township  4000  725000                1            0             0

In [18]:
le = LabelEncoder()

df_town = le.fit_transform(df['town'])

df['town_le'] = df_town

In [19]:
df

,town,area,price,monroe township,robinsville,west windsor,town_le
0,monroe township,2600,550000,1,0,0,0
1,monroe township,3000,565000,1,0,0,0
2,monroe township,3200,610000,1,0,0,0
3,monroe township,3600,680000,1,0,0,0
4,monroe township,4000,725000,1,0,0,0
5,west windsor,2600,585000,0,0,1,2
6,west windsor,2800,615000,0,0,1,2
7,west windsor,3300,650000,0,0,1,2
8,west windsor,3600,710000,0,0,1,2
9,robinsville,2600,575000,0,1,0,1
10,robinsville,2900,600000,0,1,0,1
11,robinsville,3100,620000,0,1,0,1
12,robinsville,3600,695000,0,1,0,1

In [20]:
X = df[['area','monroe township','robinsville']]
y= df['price']

In [21]:
X

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [24]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [25]:
model.predict(X)

array([539709.7398409 , 590468.71640508, 615848.20468716, 666607.18125134,
       717366.15781551, 579723.71533005, 605103.20361213, 668551.92431735,
       706621.15674048, 565396.15136531, 603465.38378844, 628844.87207052,
       692293.59277574])

In [26]:
model.score(X,y)

0.9573929037221873

In [27]:
df.head()

,town,area,price,monroe township,robinsville,west windsor,town_le
0,monroe township,2600,550000,1,0,0,0
1,monroe township,3000,565000,1,0,0,0
2,monroe township,3200,610000,1,0,0,0
3,monroe township,3600,680000,1,0,0,0
4,monroe township,4000,725000,1,0,0,0

In [29]:
X = df[['town_le','area']].values

In [30]:
y = df.price

In [31]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [32]:
model.predict(X)

array([541819.90107652, 592241.78062264, 617452.72039569, 667874.59994181,
       718296.47948793, 582045.38842013, 607256.32819319, 670283.67762584,
       708100.08728542, 561932.64474833, 599749.05440791, 624959.99418097,
       687987.34361362])

In [34]:

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe_town= ohe.fit_transform(df[['town']])

In [38]:
X = df[['town','area']]

In [39]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')

In [40]:
X = ct.fit_transform(X)
X

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])