<a href="https://colab.research.google.com/github/klnsuman/MachineLearning/blob/master/Dummy_OneHot_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# One Hot Encoding

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import os

In [7]:
DATA_DIR='/content/drive/MyDrive/MyNotebooks/0.1.02_MachineLearning/'
FILE_NAME = "homeprices.csv"

In [8]:
df = pd.read_csv(DATA_DIR+FILE_NAME)

In [9]:
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [10]:
dummy = pd.get_dummies(df['town'])

In [11]:
df = pd.concat([df,dummy],axis='columns')

In [12]:
df.head()

              town  area   price  monroe township  robinsville  west windsor
0  monroe township  2600  550000                1            0             0
1  monroe township  3000  565000                1            0             0
2  monroe township  3200  610000                1            0             0
3  monroe township  3600  680000                1            0             0
4  monroe township  4000  725000                1            0             0

In [13]:
le = LabelEncoder()

df_town = le.fit_transform(df['town'])

df['town_le'] = df_town

In [14]:
df

               town  area   price  ...  robinsville  west windsor  town_le
0   monroe township  2600  550000  ...            0             0        0
1   monroe township  3000  565000  ...            0             0        0
2   monroe township  3200  610000  ...            0             0        0
3   monroe township  3600  680000  ...            0             0        0
4   monroe township  4000  725000  ...            0             0        0
5      west windsor  2600  585000  ...            0             1        2
6      west windsor  2800  615000  ...            0             1        2
7      west windsor  3300  650000  ...            0             1        2
8      west windsor  3600  710000  ...            0             1        2
9       robinsville  2600  575000  ...            1             0        1
10      robinsville  2900  600000  ...            1             0        1
11      robinsville  3100  620000  ...            1             0        1
12      robinsville  3600  695000  ...            1             0        1

[13 rows x 7 columns]

In [15]:
X = df[['area','monroe township','robinsville']]
y= df['price']

In [16]:
X

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [17]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [18]:
model.predict(X)

array([539709.7398409 , 590468.71640508, 615848.20468716, 666607.18125134,
       717366.15781551, 579723.71533005, 605103.20361213, 668551.92431735,
       706621.15674048, 565396.15136531, 603465.38378844, 628844.87207052,
       692293.59277574])

In [19]:
model.score(X,y)

0.9573929037221873

In [20]:
df.head()

              town  area   price  ...  robinsville  west windsor  town_le
0  monroe township  2600  550000  ...            0             0        0
1  monroe township  3000  565000  ...            0             0        0
2  monroe township  3200  610000  ...            0             0        0
3  monroe township  3600  680000  ...            0             0        0
4  monroe township  4000  725000  ...            0             0        0

[5 rows x 7 columns]

In [21]:
X = df[['town_le','area']].values

In [22]:
y = df.price

In [23]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [24]:
model.predict(X)

array([541819.90107652, 592241.78062264, 617452.72039569, 667874.59994181,
       718296.47948793, 582045.38842013, 607256.32819319, 670283.67762584,
       708100.08728542, 561932.64474833, 599749.05440791, 624959.99418097,
       687987.34361362])

In [25]:

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe_town= ohe.fit_transform(df[['town']])

In [26]:
X = df[['town','area']]

In [27]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')

In [28]:
X = ct.fit_transform(X)
X

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])